$mainbrown:#32220a;
$gold:#a8a318;
@mixin mainfont{
	font-family: "gothic",'rsuregular'/*'cordiaupcregular'*/;
}
@mixin clear{
	&:after{
		content: "";
		clear: both;
		display: block;
		visibility: hidden;
	}
}
/******************** font ***********************/
@font-face {
	font-family: 'gothic';
	src: url('../fonts/gothic.eot');
	src: local('gothic'), url('../fonts/gothic.woff') format('woff'), url('../fonts/gothic.ttf') format('truetype');
}

@font-face {
    font-family: 'cordiaupcregular';
    src: url('../fonts/cordiaupc-webfont.eot');
    src: url('../fonts/cordiaupc-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cordiaupc-webfont.woff2') format('woff2'),
         url('../fonts/cordiaupc-webfont.woff') format('woff'),
         url('../fonts/cordiaupc-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cordiaupcitalic';
    src: url('../fonts/cordiaiupc-webfont.eot');
    src: url('../fonts/cordiaiupc-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cordiaiupc-webfont.woff2') format('woff2'),
         url('../fonts/cordiaiupc-webfont.woff') format('woff'),
         url('../fonts/cordiaiupc-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cordiaupcbold';
    src: url('../fonts/cordiabupc-webfont.eot');
    src: url('../fonts/cordiabupc-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cordiabupc-webfont.woff2') format('woff2'),
         url('../fonts/cordiabupc-webfont.woff') format('woff'),
         url('../fonts/cordiabupc-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cordiaupcbold_italic';
    src: url('../fonts/cordiabiupc-webfont.eot');
    src: url('../fonts/cordiabiupc-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cordiabiupc-webfont.woff2') format('woff2'),
         url('../fonts/cordiabiupc-webfont.woff') format('woff'),
         url('../fonts/cordiabiupc-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'thaisans_neueregular';
    src: url('../fonts/thaisansneue-regular-webfont.eot');
    src: url('../fonts/thaisansneue-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thaisansneue-regular-webfont.woff2') format('woff2'),
         url('../fonts/thaisansneue-regular-webfont.woff') format('woff'),
         url('../fonts/thaisansneue-regular-webfont.ttf') format('truetype'),
         url('../fonts/thaisansneue-regular-webfont.svg#thaisans_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'mn_graphicoregular';
    src: url('../fonts/mn_graphico_v3.2-webfont.eot');
    src: url('../fonts/mn_graphico_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mn_graphico_v3.2-webfont.woff2') format('woff2'),
         url('../fonts/mn_graphico_v3.2-webfont.woff') format('woff'),
         url('../fonts/mn_graphico_v3.2-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rsubold';
    src: url('../fonts/rsu_bold-webfont.eot');
    src: url('../fonts/rsu_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rsu_bold-webfont.woff2') format('woff2'),
         url('../fonts/rsu_bold-webfont.woff') format('woff'),
         url('../fonts/rsu_bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rsulight';
    src: url('../fonts/rsu_light-webfont.eot');
    src: url('../fonts/rsu_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rsu_light-webfont.woff2') format('woff2'),
         url('../fonts/rsu_light-webfont.woff') format('woff'),
         url('../fonts/rsu_light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rsuregular';
    src: url('../fonts/rsu_regular-webfont.eot');
    src: url('../fonts/rsu_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rsu_regular-webfont.woff2') format('woff2'),
         url('../fonts/rsu_regular-webfont.woff') format('woff'),
         url('../fonts/rsu_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


/*************************************************/
*{
	margin: 0;
	padding: 0;
}
html{
	width: 100%;
}
body{
	@include mainfont;
	font-size: 16px;
	line-height: normal;
	-webkit-font-smoothing: antialiased;
}
.clear{
	width: 100%;
	clear: both;
	display: block;
	visibility: hidden;
	
}
h2{
	&.box-title{
		color: $mainbrown;
		font-size: 28px;
		margin: 0;
		padding: 0;
		margin-bottom: 15px;
		margin-bottom: 30px;
	}
}
a{
	cursor: pointer;
	&:hover{
		text-decoration: none;
	}
	&.learnmore{
		border:1px solid $mainbrown;
		padding: 5px;
		font-size: 13px;
		color: $mainbrown;
		padding-right: 30px;
		padding-left: 10px;
		background-image: url(../images/learnmorearrow.png);
		background-position: right center;
		background-repeat: no-repeat;
		background-position-x: 95%;
		&:hover{
			background-color: $mainbrown;
			background-image: url(../images/learnmorearrow_white.png);
			color: white;
			-moz-transition: all 0.1s ease-in;
			-webkit-transition: all 0.1s ease-in;
			-o-transition: all 0.1s ease-in;
			transition: all 0.1s ease-in;
		}
				
	}
}
p{
	font-size: 13px;
	color: #929497;
}
input[type="text"]{
	border-radius: 3px !important;
	width: 100%;
	height: 30px;
}
header,navm.mainbenner,.watch-slide,.clock-child,.compare-name-list,.left-col,.right-col,.main-product-img,.product-detail,.sidemenu-section{
	@include clear;
}
header{
	&.desktop{
		margin-bottom: 15px;
		clear: both;
		.brownbar{
			width: 100%;
			background-color: $mainbrown;
			position: relative;
			padding-bottom: 10px;
			overflow: hidden;
			>hr{
				border:3px solid #a8a318;
				position: absolute;
				bottom: 5px;
				left: 0;
				width: 100%;
				margin: 0;
			}
			.mainlogo{
				display: block;
				margin-top: 15px;
				margin-bottom: 15px;
			}
			.langsw{
				height: 65px;
				display: table;
				a{
					display: table-cell;
					vertical-align: middle;
					font-size: 17px;
					color: #d0d2d3;
					text-decoration: none;
					span{
						font-size: 20px;
					}
				}
			}	
		}
		#mainnav{
			text-align: center;
			ul{
				display: inline-block;
				clear: both;
				list-style: none;
				margin-top: 30px;
				margin-bottom: 30px;
				li{
					float: left;
					a{
						color: #a8a318;
						font-size: 16px;
						padding-left: 25px;
						padding-right: 25px;
						text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
						text-decoration: none;
						&:hover{
							color:$mainbrown;
							-moz-transition: all 0.1s ease-in;
							-webkit-transition: all 0.1s ease-in;
							-o-transition: all 0.1s ease-in;
							transition: all 0.1s ease-in;
						}
					}
					
				}
			}
			hr{
				width: 100%;
				border:1px solid #e6e7e8;
				display: block;
				clear: both;
				margin: 0;
				padding: 0;
			}
		}
	}
	&.mobile{
		display: none;
		background-color: $mainbrown;
		border-bottom: 3px solid $gold;
		.navbar-default{
			background:none;
			border:none;
			margin: 0;
			ul{
				li{
					form{
						div{
							a{
								color: #777;
							}
						}
					}
				}
			}
		}
		img.mainlogo{
			height: 20px;
			width: auto;
		}
		
	}
}
footer{
	width: 100%;
	min-height: 475px;
	background-color: $mainbrown;
	margin-top: 15px;
	position: relative;
	padding-top: 10px;
	padding-bottom: 30px;
	overflow: hidden;
	.container{
		margin-top: 50px;
	}
	hr{
		border:3px solid #a8a318;
		position: absolute;
		top: 5px;
		left: 0;
		width: 100%;
		margin: 0;
	}
	.categorymenu{
		h2{
			margin: 0;
			padding: 0;
			font-size: 29px;
			color: #d0d2d3;
		}
		ul{
			margin-top: 15px;
			list-style: none;
			li{
				a{
					font-size: 13px;
					color: #d0d2d3;
					line-height: 25px;
					text-decoration: none;
					&:hover{
						color: $gold;
						-moz-transition: all 0.1s ease-in;
						-webkit-transition: all 0.1s ease-in;
						-o-transition: all 0.1s ease-in;
						transition: all 0.1s ease-in;
					}
				}
			}
		}
	}
	#footernav{
		width: 100%;
		margin-top: 45px;
		ul{
			float: right;
			list-style: none;
			li{
				float: left;
				a{
					font-size: 12px;
					color: #d0d2d3;
					text-decoration: none;
					padding-left: 3px;
					padding-right: 3px;
					&:hover{
						color: $gold;
					}
				}
				&:after{
					content: "|";
					font-size: 12px;
					color: #d0d2d3;
				}
				&:last-child{
					&:after{
						content: "";
					}
				}
			}
		}
	}
	address{
		text-align: right;
		font-size: 13px;
		color: #d0d2d3;
		line-height: 25px;
	}
	.foot-icon{
		list-style: none;
		float: right;
		li{
			margin-left: 10px;
			float: right;
			a{
				
			}
		}
	}
	.foot-icon{
		text-align: center;
		li{
			display: inline-block;
			float: none;
		}
	}
}
.mainbenner{
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
	.bx-wrapper{
		.bx-viewport{
			box-shadow: none;
			border:none;
			left: 0;
			.allbanner{
				li{
					img{
						width: 100%;
						height: auto;
					}
				}
			}
			
		}
		.bx-controls{
			.bx-controls-direction{
				display: none;
			}
		}
	}
}
fieldset{
	&.title-set {
		border-top:1px solid !important;
		border-bottom: none;
		border-left: none;
		border-right: none;
		text-align: center;
		color: black;
		margin-top: 15px;
		margin-bottom: 15px;
		display: block;
		
		legend {
				width: auto !important;
			    -webkit-padding-start: 15px;
			    -webkit-padding-end: 15px;
			    -moz-padding-start: 15px;
			    -moz-padding-end: 15px;
			    background: transparent;
			    border-bottom:0;
			    color: $gold;
			    font-size: 28px;
			    font-weight: normal;
			    margin-bottom: 0;
		}
	}
}
.clockslider{
	min-height: 700px;
	background-image: url(../images/clocksliderbg.jpg);
	background-repeat: repeat-x;
	background-position: left center;
	.title-set, .section-title{
		margin-top: 70px;
		margin-bottom: 75px;
	}
	.watch-slide{
		padding-left: 30px;
		padding-right: 30px;
		width: 100%;
		position: relative;
		.watch-frame{
			position: relative;
			width: 100%;
			overflow: hidden;
			/* height: 426px; */
			ul{
				list-style: none;
				position: relative;
				left: 0;
				top:0;
				
				li{
					float: left;
					padding-left: 8px;
					padding-right: 8px;
					max-width: 269px;
					.cat{
						position: relative;
						img{
							width: 100%;
							/* height: auto; */
							position: relative;
							z-index: 1;
							}
						.hover{
							position: absolute;
							width: 100%;
							height: 100%;
							z-index: 2;
							background-color: rgba(0,0,0,0.6);
							top:0;
							left: 0;
							opacity: 0;
							-moz-transition: all 0.1s ease-in;
							-webkit-transition: all 0.1s ease-in;
							-o-transition: all 0.1s ease-in;
							transition: all 0.1s ease-in;
							div{
								display: table;
								width: 100%;
								height: 100%;
								span{
									display: table-cell;
									vertical-align: middle;
									text-align: center;
									color: white;
									font-size: 25px;
									padding-bottom: 20%;
									opacity: 0;
									-moz-transition: all 0.1s ease-in;
									-webkit-transition: all 0.1s ease-in;
									-o-transition: all 0.1s ease-in;
									transition: all 0.1s ease-in;
								}	
							}							
						}
					}
					.footcat{
						min-height: 65px;
						width: 100%;
						display: table;
						height: auto;
						background-color: #bbbdbf;
						span{
							display: table-cell;
							font-size: 23px;
							text-align: center;
							vertical-align: middle;
							color: #58595b;
						}
					}
					&:hover{
						.cat{
							.hover{
								opacity: 1;
								-moz-transition: all 0.2s ease-in;
								-webkit-transition: all 0.2s ease-in;
								-o-transition: all 0.2s ease-in;
								transition: all 0.2s ease-in;
								div{
									span{
										padding-bottom: 0;
										opacity: 1;
										-moz-transition: all 0.2s ease-in;
										-webkit-transition: all 0.2s ease-in;
										-o-transition: all 0.2s ease-in;
										transition: all 0.2s ease-in;
									}
								}
							}
						}
					}	
				}
			}
		}
		.nav{
			position: absolute;
			top:50%;
			margin-top: -18px;
			&.nav-left{
				left: 0;
			}
			&.nav-right{
				right: 0;
			}
		}
	}
}
.featureclock{
	padding-bottom: 60px;
	.title-set ,.section-title{
		margin-top: 55px;
		margin-bottom: 88px;	
	}
	.clock-child{
		box-shadow:0px 0px 1px rgba(0, 0, 0, 0.05);
		border:1px solid #f1f1f2;
		figure{
			display: inline;
			float: left;
		}
		.detail{
			display: inline;
			float:left;
			padding: 15px;
			color: #32220a;
			font-size: 23px;
			font-style: italic;
			span{
				color: #b3957f;
				font-style: normal;
			}
		}
	}
	.clockbanner{
		min-height: 300px;
	}
}
.news-list{
	@include clear;
	&.news-list-home{
		margin-top: 60px;
		margin-bottom: 60px;
	}	
	ul{
		list-style: none;
		margin-bottom: 28px;
		li{
			border-bottom: 1px dashed #bbbdbf;
			padding-top:7px;
			padding-bottom: 7px;
			&:first-child{
				padding-top: 0;
			}
			&:last-child{
				border:none;
			}
			&:hover{
				table{
					opacity: 0.5;
					-moz-transition: all 0.1s ease-in;
					-webkit-transition: all 0.1s ease-in;
					-o-transition: all 0.1s ease-in;
					transition: all 0.1s ease-in;
				}
			}
			table{
				border-collapse: separate;
				border-spacing: 10px;
				-moz-transition: all 0.1s ease-in;
				-webkit-transition: all 0.1s ease-in;
				-o-transition: all 0.1s ease-in;
				transition: all 0.1s ease-in;
				tr{
					td{
						vertical-align: middle;
						padding: 4px;
						
						&:first-child{
							text-align: right;
							font-size: 35px;
							font-weight: bold;
							color: $mainbrown;
							border-right: 1px solid $mainbrown;
							line-height: 15px;
							span{
								color: #a6a8ab;
								font-size: 13px;
								line-height: 15px;
								font-weight: normal;
								display: block;
								margin-top: 10px;
								&:nth-child(2){
									margin-top: 0;
								}
							}
						}
						&:nth-child(2){
							min-width: 295px;
						}
						a{
							text-decoration: none;
							h3{
								margin: 0;
								margin-bottom: 5px;
								padding: 0;
								font-size: 15px;
								font-style: italic;
								color: $mainbrown;
								
							}
							p{
								font-size: 12px;
								color: #929497;
								text-align: justify;
							}
						}
						
					}
				}
			}
		}
	}
	&.news-all{
		ul{
			width: 100%;
			height: auto;
			/*
			-webkit-column-count: 2;
			-moz-column-count: 2;
			column-count: 2;
			*/
			
			li{
				width: 48%;
				min-height: 110px;
				float: left;
				&:first-child{
					padding-top: 7px;
				}
				&:last-child{
					border-bottom: 1px dashed #bbbdbf;
				}
				&:nth-child(even){
					margin-left: 4%;
				}
			}
		}
	}
	
}
.history-home{
	margin-top: 60px;
	margin-bottom: 60px;
	p{
		margin-top: 30px;
		margin-bottom: 30px;
		text-align: justify;
		text-indent: 30px;
	}
	
}
.wheretobuy-home{
	margin-top: 60px;
	margin-bottom: 60px;
	p{
		font-size: 16px;
		
	}
	
}
.breadcrumb{
	width: 100%;
	border-radius: 3px;
	background-color: #f7f7f7;
	margin-top: 15px;
	margin-bottom: 15px;
	li{
		font-family: 'cordiaupcregular';
		font-size: 13px;
		color: #a6a8ab;
		a{
			color: #a6a8ab;
			&:hover{
				color:$mainbrown;
			}
		}
		&:last-child{
			color: #ad9402;
		}
	}
}
.compare-name-list{
	border:1px solid #f1f1f2;
	min-height: 50px;
	width: 100%;
	display: table;
	margin-top: 15px;
	margin-bottom: 15px;
	>span{
		display: table-cell;
		vertical-align: middle;
	}
	div.name{
		display: inline;
		float: left;
		ul{
			list-style: none;
			padding-left: 15px;
			padding-right: 15px;
			li{
				float: left;
				margin-left: 7px;
				margin-right: 7px;
				color: #929497;
				cursor: pointer;
				line-height: 35px;
				a{
					width: 12px;
					height: 12px;
					display: inline-block;
					background-image: url(../images/remove.png);
				}
				&:hover{
					color: $mainbrown;
					a{
						background-image: url(../images/remove_hover.png);	
					}
				}
			}
		}	
	}
	div.button{
		display: inline;
		float: right;
		button{
			background-color: #e6e7e8;
			padding: 5px 20px;
			border:none;
			font-size: 13px;
			font-family: 'cordiaupcregular';
		}
	}
}
.search-bar{
	background-color: #b5b36d;
	margin-top: 15px;
	margin-bottom: 15px;
	.input-group{
		width: 100%;
		position: relative;
		margin-top: 7px;
		margin-bottom: 7px;
		margin-left: 7px;
		display: inline;
		float: left;
		input[type="text"]{
			background-color: #e6e7e8;
			padding-right: 30px;
		}
		.icon{
			position: absolute;
			right: 10px;
			top:5px;
			z-index: 2;
			font-size: 17px;
			color: #d0d2d3;
		}
		label{
			display: inline;
			float:left;
		}
	}
	button{
		background-color: #e6e7e8;
		padding: 2px 15px;
		border:none;
		font-size: 13px;
		font-family: 'cordiaupcregular';
		margin-top: 7px;
		margin-bottom: 7px;
	}
	.price-lenght{
		margin-top: 7px;
		margin-bottom: 7px;
		input[type="text"]{
			width: 135px;
			height: 30px;
			border:none;
			background-color: #e6e7e8;
			
		}
		label{
			color: white;
			font-size: 13px;
			font-family: 'cordiaupcregular';
			font-weight: normal;
			
		}
	}
	select{
		width: 95%;
		height: 30px;
		background-color:#e6e7e8;
		margin: 0;
		padding: 0;
	}
	
}
aside{
	&.left-col{
		border-right:1px solid #706c67;
		margin-top: 15px;
		h2{
			background-color: #706c67;
			color: white;
			font-size: 14px;
			padding: 10px;
			margin: 0;
			margin-bottom: 1px;
		}
	}
}
.side-menu{
	list-style: none;
	margin-left: 15px;
	margin-top: 15px;
	li{
		width: 100%;
		a{
			color: #706c67;
			font-size: 14px;
			padding: 5px;
			display: block;
			-moz-transition: all 0.1s ease-in;
			-webkit-transition: all 0.1s ease-in;
			-o-transition: all 0.1s ease-in;
			transition: all 0.1s ease-in;
			&:hover{
				text-indent: 5px;
				background-color: #e1e1e1;
				-moz-transition: all 0.1s ease-in;
				-webkit-transition: all 0.1s ease-in;
				-o-transition: all 0.1s ease-in;
				transition: all 0.1s ease-in;
			}
		}
	}
}
.product-list{
	margin-top: 15px;
	.product-child{
		text-align: center;
		border:1px solid #e6e7e8;
		margin-bottom: 30px;
		-moz-transition: all 0.1s ease-in;
		-webkit-transition: all 0.1s ease-in;
		-o-transition: all 0.1s ease-in;
		transition: all 0.1s ease-in;
		&:hover{
			border:1px solid $gold;
			-moz-transition: all 0.1s ease-in;
			-webkit-transition: all 0.1s ease-in;
			-o-transition: all 0.1s ease-in;
			transition: all 0.1s ease-in;
			box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
		}
		figure{
			width: 100%;
			height: 335px;
			overflow: hidden;
			img{
				width: 100%;
				max-width: 265px;
				height: auto;
			}
		}
		h3{
			font-size: 18px;
			font-style: italic;
			color: black;
			margin: 0;
		}
		.series{
			background-color: #706c67;
			width: 100%;
			height: 30px;
			font-size: 13px;
			font-style: italic;
			color: #f1f1f2;
			text-align: center;
			position: relative;
			line-height: 30px;
			margin-top: 10px;
			margin-bottom: 15px;
			input[type="checkbox"]{
				position: absolute;
				right: 10px;
				top:5px;
				width: 15px;
				height: 15px;
			}
		}
	}
}
.pagenav{
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
	.pagination{
		margin: 0;
		padding: 0;
		display: inline-block;
		float: left;
		margin-right: 15px;
		li{
			a{
				font-size: 12px;
				color: #706c67;
			}
			&.active{
				a{
					background-color: #706c67;
					color: white;
				}
			}
		}
	}
	>div{
		color: #aaaaaa;
		font-family: Arial;
		font-size: 12px;
		line-height: 30px;
	}
}
.table{
	display: table;
	.row{
		display: table-row;
		.col{
			display: table-cell;
		}
	}
}
.catbanner{
	width: 100%;
	height: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	img{
		width: 100%;
		height: auto;
	}
}
.main-product-img{
	margin-top: 15px;
	margin-bottom: 15px;
	border:1px solid #d0d2d3;
	img{
		width: 100%;
		height: auto;
	}
}
.product-detail{
	margin-top: 15px;
	margin-bottom: 30px;
	border-left: 1px solid #706c67;
	position: relative;
	.series{
		background-color: $mainbrown;
		position: relative;
		height: 40px;
		line-height: 40px;
		font-size: 17px;
		color: white;
		padding-left: 15px;
		input[type="checkbox"]{
			position: absolute;
			right: 10px;
			top:10px;
			width: 15px;
			height: 15px;
		}
	}
	h3{
		margin-left: 15px;
		font-size: 17px;
		color: $mainbrown;
	}
	table{
		margin-left: 30px;
		tr{
			th{
				color: #6d6e70;
				font-family: 'cordiaupcregular';
				font-size: 13px;
				text-align: right;
			}
			td{
				color: #6d6e70;
				font-family: 'cordiaupcregular';
				font-size: 13px;
				text-align: left;
				padding-left: 10px;
			}
		}
	}
	p{
		color: #58595b;
		font-size: 14px;
		font-family: 'cordiaupcregular';
		margin-left: 30px;
		line-height: 20px;
		word-break: break-word;
	}
	.price{
		position: absolute;
		background-color: #b5b36d;
		font-size: 17px;
		color: white;
		padding: 10px;
		right: 0;
		top:60px;
	}
}
.relate-products{
	margin-top: 30px;
	margin-bottom: 0;
}
.compare-menu{
	background-color: #706c67;
	width: 100%;
	height: 400px;
	display: table;
	span{
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		h3{
			font-size: 14px;
			color: white;
			margin: 0;
			padding: 0;
			display: block;
			margin-bottom: 30px;
		}
		a{
			background-color: #e6e7e8;
			font-size: 13px;
			color: black;
			border-radius: 3px;
			padding: 10px 5px;
			&:hover{
				background-color: $gold;
				-moz-transition: all 0.1s ease-in;
				-webkit-transition: all 0.1s ease-in;
				-o-transition: all 0.1s ease-in;
				transition: all 0.1s ease-in;
			}
		}
	}
}
.compare-left{
	max-height: 890px;
}
.compare-list{
	width: 100%;
	position: relative;
	overflow: auto;
	.compare-child{
		max-width: 292px;
		.product-child{
			border-top:none;
			border-bottom: none;
			overflow: hidden;
			min-height: 890px;
			figure{
				height: 342px;
			}
			table{
				width: 100%;
				margin-top: 10px;
				margin-bottom: 10px;
				tr{
					td{
						background-color: #deebe2;
						text-align: center;
						color: #6d6e70;
						font-family: 'cordiaupcregular';
						font-size: 14px;
						padding-top: 2px;
						padding-bottom: 2px;
						&:first-child{
							display: none;
						}
					}
					&:nth-child(even){
						td{
							background-color: #c9d6cb;	
						}
					}
				}
			}
			p{
				text-align: center;
				color: #58595b;
				font-family: 'cordiaupcregular';
				font-size: 14px;
				padding-left: 10px;
				padding-right: 10px;
			}
			&:hover{
				box-shadow: none;
				border:1px solid #e6e7e8;
				border-top:none;
				border-bottom: none;
			}
		}
	}
}
.table-hold{
	width: 100%;
	margin-top: 15px;
	table{
		width: 100%;
		tr{
			td{
				text-align: right;
				padding-right: 15px;
				color: #6d6e70;
				font-family: 'cordiaupcregular';
				font-size: 16px;
			}
		}
	}
}
.contact-info{
	margin-top: 50px;
	table{
		width: 90%;
		tr{
			td{
				color: #929497;
				@include mainfont;
				padding-top: 10px;
				padding-bottom: 10px;
				border-bottom: 1px dashed #929497;
				word-break: break-word;
				font-size: 15px;
				vertical-align: middle;
				span{
					font-size: 32px;
				}
				&:first-child{
					padding-right: 5px;
				}
				a{
					color: #929497;
				}
			}
			&:last-child{
				td{
					border-bottom: none;
				}
			}
		}
	}
	.map{
		width:100%;
		max-width: 415px;
		height: 315px;
		position: relative;
		margin-top: 30px;
		margin-bottom: 30px;
		iframe{
			position: absolute;
			width: 100%;
			height: 100%;
		}
	}
}
.contact-form{
	min-height: 685px;
	background-image: url(../images/contactform.png);
	background-position: left top;
	background-repeat: no-repeat;
	margin-top: 50px;
	margin-bottom: 50px;
	h3{
		color: #32220a;
		font-size: 17px;
		font-weight: bold;
		font-style: italic;
		margin: 0;
		padding: 0;
	}
	table{
		width: 90%;
		margin-top: 20px;
		tr{
			td{
				padding-top: 3px;
				padding-bottom: 3px;
				label{
					color: #32220a;
					font-size: 15px;
					font-style: italic;
					font-weight: normal;
				}
				input[type="text"]{
					width: 100%;
					border:1px solid #929497;
					background-color: #fcfcfc;
					padding: 10px;
					height: 25px;
					font-size: 12px;
				}
				textarea{
					width: 100%;
					border:1px solid #929497;
					background-color: #fcfcfc;
					padding: 10px;
					font-size: 12px;
					width: 100%;
					height: 180px;
					max-height: 200px;
					border-radius: 3px;
				}
				button{
					background-color: #e6e7e8;
					padding: 5px 20px;
					border:none;
					font-size: 13px;
					font-family: 'cordiaupcregular';
				}
			}
		}
	}
}
.where-banner{
	width: 100%;
	height: auto;
	position: relative;
	margin-bottom: 15px;
	margin-top: 15px;
	
	img{
		width: 100%;
		height: auto;
	}
	h3{
		color: #32220a;
		font-size: 30px;
		text-align: center;
		width: 100%;
		position:absolute;
		left: 0;
		top:45%;
		margin: 0;
		padding: 0;
	}
}
.dep-logo{
	margin-top: 15px;
	text-align: center;
	border-bottom: 1px solid #32220a;
	padding-bottom: 15px;
	margin-bottom: 15px;
	ul.dep-nav{
		list-style: none;
		display: inline-block;
		margin: 0;
		padding: 0;
		li{
			float: left;
			padding-left: 10px;
			padding-right: 10px;
			a{
				img{
					opacity: 1;
					-moz-transition: all 0.1s ease-in;
					-webkit-transition: all 0.1s ease-in;
					-o-transition: all 0.1s ease-in;
					transition: all 0.1s ease-in;
				}
				&:hover{
					img{
						opacity: 0.5;
						-moz-transition: all 0.1s ease-in;
						-webkit-transition: all 0.1s ease-in;
						-o-transition: all 0.1s ease-in;
						transition: all 0.1s ease-in;
					}
				}
			}
		}
	}
}
.notice-text{
	text-align: center;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
}
.dep-list{
	.dep-list-child{
		.dep-name{
			margin-bottom: 15px;
			height: 40px;
			background-color:#312209;
			padding: 5px;
			color: white;
			font-size: 20px;
			display: block;
			clear: both;
			img{
				height: 30px;
				width: auto;
			}
		}
		.dep-list-name{
			margin-top: 15px;
			width: 100%;
			text-align: left;
			ul{
				margin-top: 50px;
				padding: 0;
				display: inline-block;
				list-style: none;
				min-width: 100%;
				/*
				-webkit-columns: 2;
				-moz-columns: 2;
				columns: 2;
				-webkit-column-gap: 40px;
			    -moz-column-gap: 40px;
			    column-gap: 40px;
			    */
				li{
					margin-top: 5px;
					margin-bottom: 5px;
					width: 50%;
					display: inline;
					float: left;
					padding-left: 100px;
					padding-right: 100px;
					table{
						width: 100%;
						tr{
							td{
								color: #664646;
								font-size: 13px;
								/*
								padding-top: 5px;
								padding-bottom: 5px;
								*/
								text-align: right;
								vertical-align: middle;
								&:first-child{
									width: 180px;
									text-indent: 30px;
									text-align: left;
								}
								&:last-child{
									padding-left: 10px;
									a{
										span{
											color: #a8a318;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
.first-news{
	margin-top: 30px;
	border-bottom: 1px dashed #bbbdbf;
	padding-bottom: 40px;
	margin-bottom: 15px;
	.news-date{
		border-right: 1px solid #32220a;
		padding-right: 5px;
		table{
			width: 100%;
			tr{
				td{
					text-align: right;
					font-size: 35px;
					font-weight: bold;
					span{
						display: block;
						width: 100%;
						font-size: 13px;
						color: #a6a8ab;
						font-weight: lighter;
					}
				}
			}
		}
	}
	.news-mainimg{
		margin-bottom: 15px;
		img{
			width: 100%;
			height: auto;
		}
	}
	article{
		border-left: 1px solid #32220a;
		padding-left: 15px;
		@include clear;
		h3{
			margin: 0;
			padding: 0;
			font-size: 15px;
			color: #32220a;
			font-style: italic;
			margin-bottom: 15px;
		}
		ul.gal{
			list-style: none;
			display: block;
			clear: both;
			margin-top: 15px;
			li{
				float: left;
				width: 25%;
				padding-left: 5px;
				padding-right: 5px;
				a{
					img{
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}	
}
.join-text{
	font-size: 16px;
	color: #32220a;
	text-align: center;
}
.va-list{
	list-style: none;
	width:100%;
	li{
		width:100%;
		margin-bottom: 1px;
		a{
			background-color: #32220a;
			color: white;
			font-size: 15px;
			font-style: italic;
			display: block;
			padding-left: 1px;
			padding-right: 1px;
			height: 40px;
			-moz-transition: all 0.1s ease-in;
			-webkit-transition: all 0.1s ease-in;
			-o-transition: all 0.1s ease-in;
			transition: all 0.1s ease-in;
			&:hover{
				background-color: $gold;
				-moz-transition: all 0.1s ease-in;
				-webkit-transition: all 0.1s ease-in;
				-o-transition: all 0.1s ease-in;
				transition: all 0.1s ease-in;
			}
			table{
				width: 98%;
				margin-left: auto;
				margin-right: auto;
				tr{
					td{
						height: 40px;
						vertical-align: middle;
						&:first-child{
							width: 65%;
						}
						&:last-child{
							text-align: right;
						}
					}
				}
			}
		}
		.detail{
			display: none;
			background-color: #e6e7e8;
			padding: 10px;
			h3{
				font-size: 15px;
				color: #32220a;
				font-style: italic;
				margin: 0;
			}
		}
	}
}
.img-col{
	margin-top: 15px;
	.vdo{
		width: 100%;
		height: 300px;
		margin-bottom: 15px;
		position: relative;
		iframe{
			position: absolute;
			width: 100%;
			height: 100%;
		}
	}
	.main-fiure{
		margin-top: 15px;
		img{
			width: 100%;
			height: auto;
		}
	}
}
.history-text{
	h3{
		font-size: 15px;
		font-style: italic;
		text-align: center;
	}
	p{
		text-align: center;
	}
}
section.award{
	margin-top: 30px;
	min-height: 595px;
	width: 100%;
	background-image: url(../images/awardbg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	background-color: #f1f1f3;
	padding-top: 50px;
}
.award-slider{
	margin-top: 60px;
	position: relative;
	
	
	.award-frame{
		overflow: hidden;
		position: relative;
		width: 270px;
		height: 286px;
		margin-left: auto;
		margin-right: auto;
		ul{
			position: absolute;
			list-style: none;
			z-index: 1;
			li{
				float: left;
				width: 270px;
				height: 286px;
				text-align: center;
				a{
					width: 100%;
					text-align: center;
					img{
						height: 286px;
						width: auto;
					}
				}
			}
		}
	}
	.award-nav{
		position: absolute;
		top:50%;
		margin-top: -18px;
		z-index: 2;
		&.award-nav-left{
			left: 30px;
		}
		&.award-nav-right{
			right: 30px;
		}
	}
}
.award-content-slider{
	
	margin-top: 100px;
	.award-content-slider-frame{
		position: relative;
		.content-child{
			opacity: 0;
			position: absolute;
			left: 0;
			top:0;
			text-align: center;
			-moz-transition: all 0.1s ease-in;
			-webkit-transition: all 0.1s ease-in;
			-o-transition: all 0.1s ease-in;
			transition: all 0.1s ease-in;
			h3{
				font-size: 15px;
				font-style: italic;
				width: 80%;
				margin-left: auto;
				margin-right: auto;
				text-align: center;
				padding-left: 40px;
				padding-right: 40px;
				line-height: 18px;
			}
			&.active{
				opacity: 1;
				-moz-transition: all 0.3s ease-in;
				-webkit-transition: all 0.3s ease-in;
				-o-transition: all 0.3s ease-in;
				transition: all 0.3s ease-in;
			}
		}
	}
}
.join-contact{
	display: inline-block;
	list-style: none;
	li{
		float: left;
		&:after{
			content: " | ";
		}
		&:last-child{
			&:after{
				content: "";
			}
		}
		a{
			font-size: 13px;
			color: #929497;
		}
		.icon{
			color: #929497;
			font-size: 13px;
		}
	}
}
.section-title{
	display: table;
	width: 100%;
	text-align: center;
	color: $gold;
    font-size: 28px;
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 15px;
	&:after,&:before{
		display: table-cell;
		width: 50%;
		content: ' ';
		background-image: url(../images/middleline.png);
		background-position: left center;
		background-repeat: repeat-x;
	}
	>span{
		display: table-cell;
		white-space: nowrap;
		padding: 0 9px;
	}
	
}

.video{
	width: 100%;
	padding: 15px;
	.video-frame{
		position: relative;
		width: 100%;
		min-height: 280px;
		max-height: 320px;
		iframe{
			position: absolute;
			width: 100%;
			height: 100%;
		}
	}	
}

/******************* media query ********************/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	.desktop{
		display: none !important;
	}
	.mobile{
		display: block !important;
	}
	footer{
		.categorymenu{
			text-align: center;
		}
		#footernav{
			clear: both;
			display: block;
			width: 100%;
			ul{
				width: 100%;
				li{
					display: block;
					text-align: center;
					float: none;
					width: 100%;
					text-align: center;
					border-bottom: 1px dashed #d0d2d3;
					padding-top: 10px;
					padding-bottom: 10px;
					&:after{
						content: "";
					}
					&:last-child{
						border:none;
					}
				}
			}
		}
		address{
			text-align: center;
			margin-top: 15px;
			margin-bottom: 15px;
		}
	}
	.compare-menu{
		height: auto;
		padding-bottom: 30px;
		padding-top: 30px;
		margin-bottom: 30px;
	}
	.compare-list{
		overflow: visible;
		.compare-child{
			max-width: none;
			.product-child{
				min-height: 0;
				table{
					tr{
						td{
							text-align: left;
							padding-left: 10px;
							&:first-child{
								display: block;
								text-align: right;
								padding-left: 0;
							}
						}
					}
				}
			}
		}
	}
	.compare-name-list{
		div.name{
			ul{
				li{
					width: 50%;
					margin: 0;
				}
			}
		}
		div.button{
			width: 100%;
			text-align: center;
			margin-bottom: 5px;
		}
	}
	.search-bar{
		button{width: 100%;}
		select{width: 100%;}
		.row{
			margin: 0;
			.input-group{
				margin-left: 0;
				margin-right: 0;
			}
			label{
				width: 100%;
			}
			.price-lenght{
				input[type="text"]{
					width: 100%;
				}
			}
		}
	}
	.featureclock{
		
		margin-top: 30px;
		.title-set,.section-title{
			margin-bottom: 30px;
		}
		.clock-child{
			margin-bottom: 30px;
			figure{
				display: block;
				width: 100%;
				img{
					width: 100%;
					height: auto;
				}
			}
			.detail{
				width: 100%;
				display: block;
			}
		}
	}
	.news-list{
		&.news-list-home{
			margin-top: 0px;
			margin-bottom: 0px;
		}
		ul{
			li{
				width: 100% !important;
				table{
					tr{
						td{
							&:nth-child(2){
								min-width: 0;
							}
						}
					}
				}
			}
		}
		&.news-all{
			ul{
				-webkit-column-count: 1;
				-moz-column-count: 1;
				column-count: 1;
				li{
					width: 100%;
					margin: 0;
					&:nth-child(even){margin: 0;}
				}
			}
		}
	}
	.history-home{
		margin-top: 30px;
		margin-bottom: 0;
	}
	.wheretobuy-home{
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.clockslider{
		min-height: 0;
		height: auto;
		.title-set,.section-title{
			margin-top: 30px;
			margin-bottom: 30px;
		}
		.watch-slide{
			.watch-frame{
				ul{
					li{
						max-width: none;
						.cat{
							img{
								height: auto;
							}
						}
					}
				}
			}
		}
	}
	.contact-info{
		
		table{
			width: 100%;
		}
		.map{
			width: 100%;
			max-width: none;
		}
	}
	.contact-form{
		margin-bottom: 30px;
		min-height: initial;
		table{
			width: 100%;
		}
	}
	.where-banner{
		padding-top: 30px;
		padding-bottom: 30px;
		overflow: hidden;
		position: relative;
		img{
			position: absolute;
			height: 100%;
			width: auto;
			top:0;
			z-index: -1;
		}
		h3{
			position: relative;
			text-align: center;
		}
	}
	.dep-list{
		.dep-list-child{
			.dep-list-name{
				margin-top: 15px;
				width: 100%;
				text-align: center;
				ul{
					margin-top: 50px;
					min-width: 100%;
					width: 100%;
					list-style: none;
					/*
					-webkit-columns: 1;
					-moz-columns: 1;
					columns: 1;
					*/
					li{
						width: 100%;
						padding-left: 15px;
						padding-right: 15px;
						table{
							width: 100%;
							tr{
								td{
									&:first-child{
										width: auto;
										text-indent: 0;
									}
									&:last-child{
										width: 15px;
									}
								}
							}
						}
					}
					
				}
			}
		}
	}
	.first-news{
		.news-date{
			margin-bottom: 15px;
			border:none;
			table{
				width: 100%;
				tr{
					td{
						font-size: 15px;
						span{
							display: inline;
							font-size: 15px;
							font-weight: bold;
							color: #32220a;
						}
					}
				}
			}
		}
		article{
			border: none;
			padding: 0;
			ul.gal{
				width: 100%;
				li{
					width: 50%;
				}
			}
		}
	}
	.pagenav{
		>div{
			display: block;
			clear: both;
			width: 100%;
			margin-top: 10px;
		}
	}
	.va-list{
		li{
			a{
				min-height: 50px;
				table{
					tr{
						td{
							font-size: 13px;
							&:first-child{
								width: 45%;
							}
						}
					}
				}
			}
		}
	}
	section.award{
		min-height:min-intrinsic;
		padding-top: 20px;
	}
	.award-slider{
		margin-top: 15px;
		.award-nav{
			&.award-nav-left{
				left: 15px;
			}
			&.award-nav-right{
				right: 15px;
			}
		}
		.award-frame{
			ul{
				margin-top: -30px;
				margin-bottom: -30px;
				li{
					padding: 50px;
					img{
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}
	.award-content-slider{
		margin-top:15px;
		.award-content-slider-frame{
			min-height: 250px;
			overflow: hidden;
			.content-child{
				h3{
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
	}
	.section-title{
		font-size: 25px;
		span{
			font-size: 20px;
		}
	}
	
	
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
and (orientation : landscape) {
	
	.side-menu{
		clear: both;
		width: 100%;
		li{
			float: left;
			width: 50%;
		}
	}
	.product-list{
		.col-md-4{
			width: 50%;
			display: inline;
			float: left;
		}
		.col-md-3{
			width: 50% !important;
			display: inline;
			float: left;
		}
		.product-child{
			figure{
				height: 264px;
			}
		}
	}
	
	footer{
		.categorymenu{
			width: 50%;
			display: inline;
			float: left;
			text-align: left;
		}
	}
	.contact-info{
		
		table{
			width: 100%;
		}
		.map{
			width: 100%;
			max-width: none;
		}
	}
	.contact-form{
		margin-bottom: 30px;
		min-height: initial;
		table{
			width: 100%;
		}
	}
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px)
and (-webkit-device-pixel-ratio: 2) 
and (orientation : landscape) {
	.side-menu{
		clear: both;
		width: 100%;
		li{
			float: left;
			width: 50%;
		}
	}
	.contact-info{
		
		table{
			width: 100%;
		}
		.map{
			width: 100%;
			max-width: none;
		}
	}
	.contact-form{
		margin-bottom: 30px;
		min-height: initial;
		table{
			width: 100%;
		}
	}
	.first-news{
		.news-date{
			margin-bottom: 15px;
			border:none;
			table{
				width: 100%;
				tr{
					td{
						font-size: 15px;
						span{
							display: inline;
							font-size: 15px;
							font-weight: bold;
							color: #32220a;
						}
					}
				}
			}
		}
		article{
			border: none;
			padding: 0;
			ul.gal{
				width: 100%;
				li{
					width: 50%;
				}
			}
		}
	}
	section.award{
		min-height:min-intrinsic;
		padding-top: 20px;
	}
	.award-slider{
		margin-top: 15px;
		width: 50%;
		display: inline;
		float: left;
		.award-nav{
			&.award-nav-left{
				left: 15px;
			}
			&.award-nav-right{
				right: 15px;
			}
		}
		.award-frame{
			ul{
				margin-top: -30px;
				margin-bottom: -30px;
				li{
					padding: 50px;
					img{
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}
	.award-content-slider{
		margin-top:25px;
		width: 50%;
		display: inline;
		float: left;
		.award-content-slider-frame{
			min-height: 250px;
			overflow: hidden;
			.content-child{
				h3{
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
	}
}



@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px)
and (orientation : landscape) {
	.desktop{
		display: none !important;
	}
	.mobile{
		display: block !important;
	}
	footer{
		.categorymenu{
			width: 50%;
			display: inline;
			float: left;
			text-align: left;
		}
		.bottomfooter{
			width: 100%;
			clear: both;
			display: block;
			margin-top: 30px;
		}
		#footernav{
			clear: both;
			display: block;
			width: 100%;
			ul{
				width: 100%;
				li{
					display: block;
					text-align: center;
					float: none;
					width: 100%;
					text-align: center;
					border-bottom: 1px dashed #d0d2d3;
					padding-top: 10px;
					padding-bottom: 10px;
					&:after{
						content: "";
					}
					&:last-child{
						border:none;
					}
				}
			}
		}
		address{
			width: 100%;
			display: block;
			clear: both;
		}
	}
	.product-list{
		.col-md-4{
			width: 50%;
			display: inline;
			float: left;
		}
		.col-md-3{
			width: 50% !important;
			display: inline;
			float: left;
		}
		.product-child{
			figure{
				height: 264px;
			}
		}
	}
	.contact-info{
		
		table{
			width: 100%;
		}
		.map{
			width: 100%;
			max-width: none;
		}
	}
	.contact-form{
		margin-bottom: 30px;
		min-height: initial;
		table{
			width: 100%;
		}
	}
	.first-news{
		.news-date{
			margin-bottom: 15px;
			border:none;
			table{
				width: 100%;
				tr{
					td{
						font-size: 15px;
						span{
							display: inline;
							font-size: 15px;
							font-weight: bold;
							color: #32220a;
						}
					}
				}
			}
		}
		article{
			border: none;
			padding: 0;
			ul.gal{
				width: 100%;
				li{
					width: 50%;
				}
			}
		}
	}
	section.award{
		min-height:min-intrinsic;
		padding-top: 20px;
	}
	.award-slider{
		margin-top: 15px;
		width: 50%;
		display: inline;
		float: left;
		.award-nav{
			&.award-nav-left{
				left: 15px;
			}
			&.award-nav-right{
				right: 15px;
			}
		}
		.award-frame{
			ul{
				margin-top: -30px;
				margin-bottom: -30px;
				li{
					padding: 50px;
					img{
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}
	.award-content-slider{
		margin-top:25px;
		width: 50%;
		display: inline;
		float: left;
		.award-content-slider-frame{
			min-height: 250px;
			overflow: hidden;
			.content-child{
				h3{
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
	}
	.news-list{
		&.news-list-home{
			margin-top: 0px;
			margin-bottom: 0px;
		}
		ul{
			li{
				width: 100% !important;
				table{
					tr{
						td{
							&:nth-child(2){
								min-width: 0;
							}
						}
					}
				}
			}
		}
		&.news-all{
			ul{
				-webkit-column-count: 1;
				-moz-column-count: 1;
				column-count: 1;
				li{
					width: 100%;
					margin: 0;
					&:nth-child(even){margin: 0;}
				}
			}
		}
	}
	.dep-list{
		.dep-list-child{
			.dep-list-name{
				margin-top: 15px;
				width: 100%;
				text-align: center;
				ul{
					margin-top: 50px;
					min-width: 100%;
					width: 100%;
					list-style: none;
					/*
					-webkit-columns: 1;
					-moz-columns: 1;
					columns: 1;
					*/
					li{
						width: 100%;
						table{
							width: 100%;
							tr{
								td{
									&:first-child{
										width: auto;
										text-indent: 0;
									}
									&:last-child{
										width: 15px;
									}
								}
							}
						}
					}
					
				}
			}
		}
	}
	
}

@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 763px)
and (orientation : landscape) {
	.desktop{
		display: none !important;
	}
	.mobile{
		display: block !important;
	}
	footer{
		.categorymenu{
			width: 50%;
			display: inline;
			float: left;
			text-align: left;
		}
		.bottomfooter{
			width: 100%;
			clear: both;
			display: block;
			margin-top: 30px;
		}
		#footernav{
			clear: both;
			display: block;
			width: 100%;
			ul{
				width: 100%;
				li{
					display: block;
					text-align: center;
					float: none;
					width: 100%;
					text-align: center;
					border-bottom: 1px dashed #d0d2d3;
					padding-top: 10px;
					padding-bottom: 10px;
					&:after{
						content: "";
					}
					&:last-child{
						border:none;
					}
				}
			}
		}
		address{
			width: 100%;
			display: block;
			clear: both;
		}
	}
	.product-list{
		.col-md-4{
			width: 50%;
			display: inline;
			float: left;
		}
		.col-md-3{
			width: 50% !important;
			display: inline;
			float: left;
		}
		.product-child{
			figure{
				height: 264px;
			}
		}
	}
	.contact-info{
		
		table{
			width: 100%;
		}
		.map{
			width: 100%;
			max-width: none;
		}
	}
	.contact-form{
		margin-bottom: 30px;
		min-height: initial;
		table{
			width: 100%;
		}
	}
	.first-news{
		.news-date{
			margin-bottom: 15px;
			border:none;
			table{
				width: 100%;
				tr{
					td{
						font-size: 15px;
						span{
							display: inline;
							font-size: 15px;
							font-weight: bold;
							color: #32220a;
						}
					}
				}
			}
		}
		article{
			border: none;
			padding: 0;
			ul.gal{
				width: 100%;
				li{
					width: 50%;
				}
			}
		}
	}
	section.award{
		min-height:min-intrinsic;
		padding-top: 20px;
	}
	.award-slider{
		margin-top: 15px;
		width: 50%;
		display: inline;
		float: left;
		.award-nav{
			&.award-nav-left{
				left: 15px;
			}
			&.award-nav-right{
				right: 15px;
			}
		}
		.award-frame{
			ul{
				margin-top: -30px;
				margin-bottom: -30px;
				li{
					padding: 50px;
					img{
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}
	.award-content-slider{
		margin-top:25px;
		width: 50%;
		display: inline;
		float: left;
		.award-content-slider-frame{
			min-height: 250px;
			overflow: hidden;
			.content-child{
				h3{
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
	}
	.news-list{
		&.news-list-home{
			margin-top: 0px;
			margin-bottom: 0px;
		}
		ul{
			li{
				width: 100% !important;
				table{
					tr{
						td{
							&:nth-child(2){
								min-width: 0;
							}
						}
					}
				}
			}
		}
		&.news-all{
			ul{
				-webkit-column-count: 1;
				-moz-column-count: 1;
				column-count: 1;
				li{
					width: 100%;
					margin: 0;
					&:nth-child(even){margin: 0;}
				}
			}
		}
	}
	.dep-list{
		.dep-list-child{
			.dep-list-name{
				margin-top: 15px;
				width: 100%;
				text-align: center;
				ul{
					margin-top: 50px;
					width: 100%;
					list-style: none;
					/*
					-webkit-columns: 1;
					-moz-columns: 1;
					columns: 1;
					*/
					min-width:100%;
					li{
						
						table{
							width: 100%;
							tr{
								td{
									&:first-child{
										width: auto;
										text-indent: 0;
									}
									&:last-child{
										width: 15px;
									}
								}
							}
						}
					}
					
				}
			}
		}
	}
}

@media only screen 
and (min-device-width : 540px) 
and (max-device-width : 960px){
	.desktop{
		display: none !important;
	}
	.mobile{
		display: block !important;
	}
	footer{
		.categorymenu{
			text-align: center;
		}
		#footernav{
			clear: both;
			display: block;
			width: 100%;
			ul{
				width: 100%;
				li{
					display: block;
					text-align: center;
					float: none;
					width: 100%;
					text-align: center;
					border-bottom: 1px dashed #d0d2d3;
					padding-top: 10px;
					padding-bottom: 10px;
					&:after{
						content: "";
					}
					&:last-child{
						border:none;
					}
				}
			}
		}
		address{
			text-align: center;
			margin-top: 15px;
			margin-bottom: 15px;
		}
	}
	.compare-menu{
		height: auto;
		padding-bottom: 30px;
		padding-top: 30px;
		margin-bottom: 30px;
	}
	.compare-list{
		overflow: visible;
		.compare-child{
			max-width: none;
			.product-child{
				table{
					tr{
						td{
							text-align: left;
							padding-left: 10px;
							&:first-child{
								display: block;
								text-align: right;
								padding-left: 0;
							}
						}
					}
				}
			}
		}
	}
	.compare-name-list{
		div.name{
			ul{
				li{
					width: 50%;
					margin: 0;
				}
			}
		}
		div.button{
			width: 100%;
			text-align: center;
			margin-bottom: 5px;
		}
	}
	.search-bar{
		.row{
			margin: 0;
			.input-group{
				margin-left: 0;
				margin-right: 0;
			}
			label{
				width: 100%;
			}
			.price-lenght{
				input[type="text"]{
					width: 100%;
				}
			}
		}
	}
	.featureclock{
		
		margin-top: 30px;
		.title-set,.section-title{
			margin-bottom: 30px;
		}
		.clock-child{
			margin-bottom: 30px;
			figure{
				display: block;
				width: 100%;
				img{
					width: 100%;
					height: auto;
				}
			}
			.detail{
				width: 100%;
				display: block;
			}
		}
	}
	.news-list{
		&.news-list-home{
			margin-top: 0px;
			margin-bottom: 0px;
		}
		ul{
			li{
				width: 100%;
				table{
					tr{
						td{
							&:nth-child(2){
								min-width: 0;
							}
						}
					}
				}
			}
		}
		
	}
	.dep-list{
		.dep-list-child{
			.dep-list-name{
				margin-top: 15px;
				width: 100%;
				text-align: center;
				ul{
					margin-top: 50px;
					width: 100%;
					list-style: none;
					/*
					-webkit-columns: 1;
					-moz-columns: 1;
					columns: 1;
					*/
					min-width: 100%;
					li{
						width:100%;
						table{
							width: 100%;
							tr{
								td{
									&:first-child{
										width: auto;
										text-indent: 0;
									}
									&:last-child{
										width: 15px;
									}
								}
							}
						}
					}
					
				}
			}
		}
	}
	.history-home{
		margin-top: 30px;
		margin-bottom: 0;
	}
	.wheretobuy-home{
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.clockslider{
		min-height: 0;
		height: auto;
		.title-set,.section-title{
			margin-top: 30px;
			margin-bottom: 30px;
		}
	}
}
@media only screen 
and (min-device-width : 540px) 
and (max-device-width : 960px) 
and (orientation : landscape){
	.featureclock{
		.clock-child{
			
			figure{
				width: 70%;
				display: inline;
				float: left;
				img{
					width: 100%;
					height: auto;
				}
			}
			.detail{
				width: 30%;
				display: inline;
				float: left;
				display: block;
			}
		}
	}
	footer{
		.categorymenu{
			width: 50%;
			display: inline;
			float: left;
			text-align: left;
		}
	}
	.product-list{
		.col-md-4{
			width: 50%;
			display: inline;
			float: left;
		}
		.col-md-3{
			width: 50% !important;
			display: inline;
			float: left;
		}
		.product-child{
			figure{
				height: 264px;
			}
		}
	}
	.side-menu{
		clear: both;
		width: 100%;
		li{
			float: left;
			width: 50%;
		}
	}
	.contact-info{
		
		table{
			width: 100%;
		}
		.map{
			width: 100%;
			max-width: none;
		}
	}
	.contact-form{
		margin-bottom: 30px;
		min-height: initial;
		table{
			width: 100%;
		}
	}
	.news-list{
		&.news-list-home{
			margin-top: 0px;
			margin-bottom: 0px;
		}
		ul{
			li{
				width: 100%;
				table{
					tr{
						td{
							&:nth-child(2){
								min-width: 0;
							}
						}
					}
				}
			}
		}
	}
	.dep-list{
		.dep-list-child{
			.dep-list-name{
				margin-top: 15px;
				width: 100%;
				text-align: center;
				ul{
					margin-top: 50px;
					width: 100%;
					list-style: none;
					/*
					-webkit-columns: 1;
					-moz-columns: 1;
					columns: 1;
					*/
					min-width: 100%;
					li{
						width: 100%;
						table{
							width: 100%;
							tr{
								td{
									&:first-child{
										width: auto;
										text-indent: 0;
									}
									&:last-child{
										width: 15px;
									}
								}
							}
						}
					}
					
				}
			}
		}
	}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px){
	html,body{
		min-width: 1170px;
	}
	.container{
		min-width: 1170px;
		
	}
	.desktop{
		display: block !important;
	}
	.mobile{
		display: none !important;
	}
	.dep-list{
		.dep-list-child{
			.dep-list-name{
				margin-top: 15px;
				width: 100%;
				text-align: center;
				ul{
					margin-top: 50px;
					width: 100%;
					list-style: none;
					/*
					-webkit-columns: 1;
					-moz-columns: 1;
					columns: 1;
					*/
					min-width:100%;
					li{
						width: 50%;
						display: inline;
						float: left;
						padding-left: 100px;
						padding-right: 100px;
						table{
							width: 100%;
							tr{
								td{
									&:first-child{
										width: auto;
										text-indent: 0;
									}
									&:last-child{
										width: 15px;
									}
								}
							}
						}
					}
					
				}
			}
		}
	}
	footer{
		.categorymenu{
			text-align: left;
			width: 25%;
		}
		#footernav{
			clear: both;
			display: block;
			width: 100%;
			ul{
				width: 100%;
				li{
					display:inline;
					text-align: left;
					float: left;
					width: auto;
					
					border-bottom:none;
					padding-top:0px;
					padding-bottom:0px;
					&:after{
						content: " | ";
					}
					&:last-child{
						border:none;
					}
				}
			}
		}
		address{
			text-align: right;
			margin-top: 15px;
			margin-bottom: 15px;
		}
		.foot-icon{
			text-align: right;
		}
	}
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	.compare-list{
		width: 100%;
		position: relative;
		overflow: auto;
		.compare-child{
			max-width: 292px;
		}
	}
	.search-bar{
		.price-lenght{

			input[type="text"]{
				width: 135px !important;

			}
			label{

				width: auto !important;
				
			}
		}
		
	}
	.compare-name-list{
		div.name{
			ul{
				li{
					width:auto;
					margin: 0;
					
				}
			}
		}
		div.button{
			width:auto;
			
		}
	}
	footer{
		.categorymenu{
			text-align: left;
		}
		#footernav{
			clear: both;
			display: block;
			width: 100%;
			ul{
				width: 100%;
				li{
					display:inline;
					text-align: left;
					float: left;
					width: auto;
					
					border-bottom:none;
					padding-top:0px;
					padding-bottom:0px;
					&:after{
						content: " | ";
					}
					&:last-child{
						border:none;
					}
				}
			}
		}
		address{
			text-align: right;
			margin-top: 15px;
			margin-bottom: 15px;
		}
		.foot-icon{
			text-align: right;
		}
	}
	.dep-list{
		.dep-list-child{
			.dep-list-name{
				margin-top: 15px;
				width: 100%;
				text-align: center;
				ul{
					margin-top: 50px;
					width: 100%;
					list-style: none;
					/*
					-webkit-columns: 1;
					-moz-columns: 1;
					columns: 1;
					*/
					min-width:100%;
					li{
						width: 50%;
						display: inline;
						float: left;
						padding-left: 100px;
						padding-right: 100px;
						table{
							width: 100%;
							tr{
								td{
									&:first-child{
										width: auto;
										text-indent: 0;
									}
									&:last-child{
										width: 15px;
									}
								}
							}
						}
					}
					
				}
			}
		}
	}
}